@model List< Echeckdem.CustomFolder.RegistrationTemplateViewModel>

@{
    ViewData["Title"] = "Manage Sites";
    ViewData["Heading"] = "Submitted Registrations";
    ViewData["Heading_child"] = "...";
}

@if (Model != null && Model.Any())
{
    <h5>Submitted Registrations</h5>

    <table class="styled-table">
        <thead style="top:75px;">
            <tr>
                <th>Registration Title</th>
                <th>RType</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Rdesc</td>
                    <td>@item.Rtype</td>
                    <td>@item.Category</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="text-muted">No registrations submitted for this location.</p>
}

@* <button type="button" class="saveButton" onclick="window.location.href='ViewLocations?oid=@oid'">
    Back
</button> *@