@model List<Echeckdem.CustomFolder.OrganisationsListViewModel>

@{
    ViewData["Title"] = "Manage Sites";
    ViewData["Heading"] = "Manage Sites";
    ViewData["Heading_child"] = "...";
}

<style>
    .styled-table a {
        color: #000000;
        justify-content: flex-start;
        font-weight: normal;
        padding:0;
    }

    .styled-table a:hover {
       text-decoration:underline;
    }
</style>

<div class="table-container-detailsView">
<table class="styled-table">
        <thead style="top:75px;">
        <tr>
            <th>S.No</th>
            <th>Organization Name</th>  
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>
                    <a asp-action="ViewLocations" asp-route-oid="@Model[i].oid">
                        @Model[i].Oname
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>