@model Echeckdem.CustomFolder.OrganisationGeneralInfoViewModel
@using Microsoft.AspNetCore.Http

<style>
    .Add-OrganisationInfo-Form form {
        display: grid;
        grid-template-columns:repeat(4, 1fr); 
        column-gap: 15px; 
        row-gap: 15px; 
        padding: 20px;

    }

    .Add-OrganisationInfo-Form label {
        grid-column: span 1; 
        margin-right: 10px;
        align-self: center;
        font-size:12px;
    }

    .Add-OrganisationInfo-Form input {
        grid-column: span 1; 
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 12px;
    }

    .Add-OrganisationInfo-Form button {
        grid-column: span 1;
        padding: 5px;
        font-size: 12px;
        font-weight: bold;
        background-color: white;
        color: #dd3432;
        border: 2px solid #dd3432;
        cursor: pointer;
        }

            .Add-OrganisationInfo-Form button:hover {
                background-color: #dd3432;
                color: white;
            }
</style>

@if (Context.Session.GetInt32("User Level") == 1)
                        {
    <div class="org-details-header">
        <div class="child-org-details-header">
            <h2 id="orgDetailsHeader">Add Organisation</h2>
        </div>
        <div class="Add-OrganisationInfo-Form">
            @* <div id="messageContainer" class="alert mt-3" style="display:none; color:red;"></div> *@

            <form asp-action="AddOrganisation" method="post" id="addOrganisationForm" enctype="multipart/form-data">
                <label for="Oname">Organisation Name</label>
                <input type="text" id="Oname" name="Oname" />

                <label for="oid">Organisation ID</label>
                <input type="text" id="oid" name="oid" />

                <label for="Spoc">SPOC</label>
                <input type="text" id="Spoc" name="Spoc" />

                <label for="styear">Start Year</label>
                <input type="text" id="styear" name="styear" />

                <label for="Contname">Contact Name</label>
                <input type="text" id="Contname" name="Contname" />

                <label for="Contemail">Contact Email</label>
                <input type="email" id="Contemail" name="Contemail" />

                @* <label for="Contemail">Active</label>
                <input type="checkbox" id="Oactive" name="Oactive" /> *@

                <button type="submit">Save</button>

            </form>
        </div>
    </div>
} 

@section Scripts {
    document.addEventListener('DOMContentLoaded', function () {
        // Display TempData message if it exists
    @if (TempData["SuccessMessage"] != null)
    {
        <text>
            alert('@TempData["SuccessMessage"]');
        </text>
    }

            $("#addOrganisationForm").submit(function (e) {
                // Check for required fields
                if ($('#Oname').val() === "" || $('#oid').val() === "") {
                    alert("These fields are required!");
                    return false;
                }
            });
    });
    }
