
<style>
    .location-template-parent p {
       font-size:10px;
    }
</style>
@if (Context.Session.GetInt32("User Level") == 1)
{
    <form id="uploadForm" asp-action="Upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Upload Excel File:</label>
            <input type="file" name="file" class="form-control" />
        </div>
        <button  type="submit" class="btn btn-primary">Upload</button>
    </form>


    <div id="messageContainer" class="alert mt-3" style="display:none; color:red;"></div>
    <div class="location-template-parent">
        <p> *Please refer to this Excel template to upload data in Locations. </p>
        <p> *Note: Code - max 15 characters, Name - max 100 characters, City/Region/State - max 30 characters </p>


        <a href="@Url.Action("DownloadExcelFile", "OrganisationSetup")"
        style="display: block; color: blue; background-color: lightgray; text-align:center; align-content:center;"
        onmouseover="this.style.textDecoration='underline'"
        onmouseout="this.style.textDecoration='none'">
            Download Excel Template
        </a>
    </div>
}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#uploadForm").submit(function (e) {
            e.preventDefault(); // Prevent normal form submission

            var formData = new FormData(this);

            // Log the form data for debugging
            for (var pair of formData.entries()) {
                console.log(pair[0] + ', ' + pair[1]);
            }

            $.ajax({
                url: '@Url.Action("Upload", "OrganisationSetup")', 
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.success) {
                        // Display success message
                        $('#messageContainer').removeClass('alert-danger').addClass('alert-success');
                        $('#messageContainer').text(response.message).fadeIn().delay(3000).fadeOut();
                    } else {
                        // Display error message
                        $('#messageContainer').removeClass('alert-success').addClass('alert-danger');
                        $('#messageContainer').text(response.message).fadeIn().delay(3000).fadeOut();
                    }
                },
                error: function () {
                    // Display general error message
                    $('#messageContainer').removeClass('alert-success').addClass('alert-danger');
                    $('#messageContainer').text('An error occurred. Please try again.').fadeIn().delay(3000).fadeOut();
                }
            });
        });
    });
</script>