 @{
    ViewData["Title"] = "Login";
}
@*

        @if (ViewBag.Message != null)
        {
            <div class="alert">
                @ViewBag.Message
            </div>
        }
 *@



    <link rel="stylesheet" href="~/css/login.css">

    <div class="theme-toggle">
        <box-icon id="theme-icon" name='sun' onclick="toggleTheme()"></box-icon>
    </div>

    <div class="container">
        <div class="curved-shape"></div>
        <div class="curved-shape2"></div>
        <div class="form-box Login">
            <h2 class="animation" style="--D:0; --S:21">Login</h2>
            <form asp-action="Index" method="post">
                @Html.AntiForgeryToken()
                <div class="input-box animation" style="--D:1; --S:22">
                    <input type="text" id="userID" name="userID" required />
                    <label for="userID">Username</label>
                    <box-icon type='solid' name='user'></box-icon>
                </div>

                <div class="input-box animation" style="--D:2; --S:23">
                    <input type="password" name="password" required>
                    <label for="password">Password</label>
                    <box-icon name='lock-alt' type='solid'></box-icon>
                </div>

                <div class="input-box animation" style="--D:3; --S:24">
                    <button class="btn" type="submit">Login</button>
                </div>

                <div class="regi-link animation" style="--D:4; --S:25">
                    <a id="forgotPassword">Forgot your password? </a>
                </div>
            </form>
        </div>

        <div class="info-content Login">
            <!-- <h2 class="animation" style="--D:0; --S:20">welcome to echeck!</h2> -->
            <img class="animation" src="~/imgs/eCheckwhite.png" alt="" style="--D:0; --S:20">
            <p class="animation" style="--D:1; --S:21">Entity / Factory Compliance</p>
        </div>

        <div class="form-box Register">
            <h2 class="animation" style="--li:17; --S:0">Forgot Password</h2>
            <form asp-action="Index" method="post">
                @Html.AntiForgeryToken()
                <div class="input-box animation" style="--li:18; --S:1">
                    <input type="text" required>
                    <label for="">Username</label>
                    <box-icon type='solid' name='user'></box-icon>
                </div>



                <div class="input-box animation" style="--li:20; --S:4">
                    <button class="btn" type="submit">Submit</button>
                </div>

                <div class="regi-link animation" style="--li:21; --S:5">
                    <a id="remeberPassword">Oh I remebered!</a>
                </div>
            </form>
        </div>

        <div class="info-content Register">
            <h2 class="animation" style="--li:17; --S:0">WELCOME!</h2>
            <p class="animation" style="--li:18; --S:1">yo yo yo </p>
        </div>

    </div>


    
    <script>
        const container = document.querySelector('.container');
        const forgotPassword = document.getElementById("forgotPassword");
        const remeberPassword = document.getElementById("remeberPassword");

        forgotPassword.addEventListener('click', () => {
            container.classList.add('active');
        })

        remeberPassword.addEventListener('click', () => {
            container.classList.remove('active');
        })



        const body = document.body;
        const themeIcon = document.getElementById('theme-icon');

        function toggleTheme() {
            // Toggle between light and dark themes
            if (body.getAttribute('data-theme') === 'light') {
                body.setAttribute('data-theme', 'dark');
                localStorage.setItem("theme", "dark");
                themeIcon.setAttribute('name', 'sun');
            } else {
                body.setAttribute('data-theme', 'light');
                localStorage.setItem("theme", "light");
                themeIcon.setAttribute('name', 'moon');
            }
            console.log("Theme toggled");
        }

        // On page load, apply the saved theme
        window.onload = function () {
            const savedTheme = localStorage.getItem("theme");
            if (savedTheme) {
                body.setAttribute('data-theme', savedTheme);
                themeIcon.setAttribute('name', savedTheme === 'dark' ? 'sun' : 'moon'); // Set initial icon
            } else {
                body.setAttribute('data-theme', 'dark'); // Default to dark theme
                themeIcon.setAttribute('name', 'sun'); // Set initial icon
            }
        };
    </script>

