@using Echeckdem.ViewModel.Shared
@model FilterFormModel

<style>

    .table-filter-container-parent {
        position: fixed;
        inset: 0;
        z-index: 50;
        display: none;
        align-items: center;
        justify-content: center;
        background-color: rgb(0 0 0 / 0.5);
        backdrop-filter: blur(4px);
        overflow: hidden;
    }

        .table-filter-container-parent.show {
            display: flex;
        }

    .table-filter-container {
        display: none;
        margin-top: 75px;
        padding: 15px;
        border-radius: .375rem;
        transition: all 0.3s ease;
        overflow-y: auto;
        position: fixed;
        width: 80vw;
        z-index: 30;
        left: 134px;
        background: #ffffff;
    }

        .table-filter-container.show {
            display: flex;
            flex-direction: column;
        }

    .close-btn-table-filter-container {
        background: transparent;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .table-filter-container-header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 5px;
        align-items: center;
    }

    .form-row-2col {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

        .form-group label {
            font-weight: bold;
            margin-bottom: 0.5rem;
            color: #333;
            font-size: 12px;
        }

    .form-control {
        font-size: 12px;
        border: 1px solid #ccc;
        border-radius: .375rem;
        outline: none;
        transition: border-color 0.2s ease-in-out;
    }

        .form-control:focus {
            border-color: #007bff;
            box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
        }



    /* Date picker alignment */
    input[type="date"] {
        padding: 8px 10px;
    }
</style>

<!-- Filter Form -->
<div class="table-filter-container-parent" id="table-filter-container-parent">
    <div class="table-filter-container" id="table-filter-container">
        <div class="table-filter-container-header">
            <button type="button" class="close-btn-table-filter-container" onclick="toggleFilterForm()">✕</button>
            <h3 class="heading">Filter Options</h3>
        </div>
        <form method="post" asp-action="FilteredIndex" style="padding:0 15px 15px 7px;" id="filterform">
            <div class="form-row-2col">
                <div class="form-group">
                    <label for="organizationFilter">Client:</label>
                    <select id="organizationFilter" asp-for="SelectedClient" asp-items="Model.UClientList" class="form-control">
                        <option value="">All Client</option>
                        
                    </select>

                </div>
                <div class="form-group">
                    <label for="locationFilter">Site</label>
                    @* <input type="text" name="site" class="form-control" value="@Model.Site" /> *@
                    <select id="locationFilter" asp-for="SelectedSite" asp-items="Model.USiteList" class="form-control" >
                        <option value="">Select a Site</option>
                        
                    </select>
                </div>
                </div>
            <div class="form-row-2col">
                <div class="form-group">
                    <label for="StateFilter">State</label>
                    <select id="StateFilter" asp-for="SelectedState" asp-items="Model.UStateList" class="form-control">
                        <option value="">All States</option>
                        
                    </select>
                </div>
                <div class="form-group">
                    <label for="CityFilter">City</label>
                    <select id="CityFilter" asp-for="SelectedCity" asp-items="Model.UCityList" class="form-control">
                        <option value="">All Cities</option>
                       
                    </select>
                </div>
                </div>


            <div class="form-row-2col">
                <div class="form-group">
                    <label for="StartDueDate">Start Due Date</label>
                    <input type="date" asp-for="StartDueDate" class="form-control" id="startDueDate" />
                </div>
                <div class="form-group">
                    <label for="EndDueDate">End Due Date</label>
                    <input type="date" asp-for="EndDueDate" class="form-control" id="endDueDate" />
                </div>
                </div>
            <div class="form-row-2col">
                <div class="form-group">
                    <label for="StartPeriod">Start Period</label>
                    <input type="date" asp-for="StartPeriod" class="form-control" id="startPeriod" />
                </div>
                <div class="form-group">
                    <label for="EndPeriod">End Period</label>
                    <input type="date" asp-for="EndPeriod" class="form-control" id="endPeriod" />
                </div>
                </div>
            <div style="display:flex; gap:10px;">

                    <button type="submit" class="saveButton">Filter</button>
                    <button type="reset" class="saveButton" >Clear</button>
</div>
        </form>
    </div>
</div>

<script>
      $(document).ready(function () {
      $('#organizationFilter').on('change', function () {
            var organizationFilter = $(this).val();
            if (organizationFilter !== "") {

                $.get('/DetailsView/GetLocationsByOid', { oid: organizationFilter }, function (data) {
                    var siteDropdown = $('#locationFilter');
                    siteDropdown.empty();
                    siteDropdown.append($('<option>').val("").text("Select a Site"));

                    $.each(data.value, function (i, item) {
                        siteDropdown.append($('<option>').val(item.value).text(item.text));
                    });

                   
                });
                $.get('/DetailsView/GetCityByOid', { oid: organizationFilter }, function (data) {
                    var siteDropdown = $('#CityFilter');
                    siteDropdown.empty();
                    siteDropdown.append($('<option>').val("").text("All Cities"));

                    $.each(data.value, function (i, item) {
                        siteDropdown.append($('<option>').val(item.value).text(item.text));
                    });


                });
                 $.get('/DetailsView/GetStateByOid', { oid: organizationFilter }, function (data) {
                    var siteDropdown = $('#StateFilter');
                    siteDropdown.empty();
                    siteDropdown.append($('<option>').val("").text("All States"));

                    $.each(data.value, function (i, item) {
                        siteDropdown.append($('<option>').val(item.value).text(item.text));
                    });


                });
            } else {
                 $.get('/DetailsView/GetLocations', function (data) {
                    var siteDropdown = $('#locationFilter');
                    siteDropdown.empty();
                    siteDropdown.append($('<option>').val("").text("Select a Site"));

                    $.each(data.value, function (i, item) {
                        siteDropdown.append($('<option>').val(item.value).text(item.text));
                    });


                });
                $.get('/DetailsView/GetCity', function (data) {
                    var siteDropdown = $('#CityFilter');
                    siteDropdown.empty();
                    siteDropdown.append($('<option>').val("").text("All Cities"));

                    $.each(data.value, function (i, item) {
                        siteDropdown.append($('<option>').val(item.value).text(item.text));
                    });


                });
                 $.get('/DetailsView/GetState', function (data) {
                    var siteDropdown = $('#StateFilter');
                    siteDropdown.empty();
                    siteDropdown.append($('<option>').val("").text("All States"));

                    $.each(data.value, function (i, item) {
                        siteDropdown.append($('<option>').val(item.value).text(item.text));
                    });


                });
            }
        });
      });
    function toggleFilterForm() {
        const tableFilterContainer = document.getElementById('table-filter-container');
        const tableFilterContainerParent = document.getElementById('table-filter-container-parent');
        const body = document.body;

        if (tableFilterContainer.classList.contains('show') && tableFilterContainerParent.classList.contains('show')) {
            tableFilterContainer.classList.remove('show');
            tableFilterContainerParent.classList.remove('show');
            body.style.overflow = '';
        } else {
            tableFilterContainer.classList.add('show');
            tableFilterContainerParent.classList.add('show');
            body.style.overflow = 'hidden';
        }
    }


</script>