@{
    ViewData["Title"] = "Home";
    ViewData["Heading"] = "Compliance Dashboard";
    ViewData["Heading_child"] = "Scope of Service and Status of Labour Compliance";
}

<button class="btn btn-primary" onclick="location.href='@Url.Action("CombinedDetailed", "DetailsView")'">
    Detailed View
</button>
